<div class="section group">
  <div class="col span_3_of_12"></div>
  <div class="container col span_6_of_12">
    <fieldset>
      <legend>Edit <%= @event.title.capitalize %></legend>

      <%= form_for @event do |f| %>
      <%= f.label :title, "Title: " %>
      <%= f.text_field :title %>
      <br>
      <%= f.label :event_start, "Start: " %>
      <%= f.datetime_select :event_start, start_year: Time.now.year %>
      <br>
      <%= f.label :event_finish, "End: " %>
      <%= f.datetime_select :event_finish, start_year: Time.now.year %>
      <br>
      <%= f.label :location, "Location: " %>
      <%= f.text_field :location %>
      <br>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map-canvas"></div>
      <%= f.hidden_field :latitude, value: @event.latitude %>
      <%= f.hidden_field :longitude, value: @event.longitude %>
      <%= f.label :description, "Description: " %>
      <%= f.text_area :description %>
      <%= f.submit "Submit" %>
      <% end %>

    </fieldset>
  </div>
  <div class="col span_3_of_12"></div>
</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>