<div class="section group">
  <div class="col span_3_of_12"></div>
  <div class="container col span_6_of_12">
    <fieldset>
      <legend>Edit <%= @event.title.capitalize %></legend>
      <form action="/events/<%= @event.id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" value="<%= @event.title %>">
        <br>
        <label for="event_start">Start:</label>
        <input type="datetime" name="event_start" value="<%= @event.event_start %>">
        <br>
        <label for="event_finish">End:</label>
        <input type="datetime" name="event_finish" value="<%= @event.event_finish %>">
        <br>
        <label for="location">Location:</label>
        <input type="text" name="location" class="location" value="<%= @event.location %>">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map-canvas"></div>
        <input type="hidden" name="latitude" class="latitude" value="<%= @event.latitude %>">
          <input type="hidden" name="longitude" class="longitude" value="<%= @event.longitude %>">
        <br>
        <label for="description">Description:</label>
        <textarea name="description" id="" cols="30" rows="10" value="<%= @event.description %>"></textarea>
        <input type="hidden" name="_method" value="put">
        <input class="event_submit" type="submit" value="Submit">
      </form>
    </fieldset>
  </div>
  <div class="col span_3_of_12"></div>
</div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>