<div class="container col span_5_of_12">
  <fieldset><legend>Sign up</legend>
    <% if flash[:error] %>
    <% flash[:error].each do |v| %>
    <ul>
      <li style="color: orange; list-style: square;"><%= v %></li>
    </ul>
    <% end %>
    <% end %>
    <form action="/users" method="post">
      <label for="first_name">First name: </label>
      <input type="text" name="first_name" value="<%= flash[:first_name] %>" required>

      <br>

      <label for="last_name">Last name: </label>
      <input type="text" name="last_name" value="<%= flash[:last_name] %>" required>

      <br>

      <label for="birthday">Birthday: </label>
      <input type="date" name="birthday" value="<%= flash[:birthday] %>">

      <br>

      <label for="email">E-mail: </label>
      <input type="email" name="email" value="<%= flash[:email] %>" required>

      <br>

      <label for="username">Username: </label>
      <input type="text" name="username" value="<%= flash[:username] %>" required>

      <br>

      <label for="password">Password: </label>
      <input type="password" name="password" required>

      <br>

      <input type="submit" value="Sign up">
    </form>
  </fieldset>
</div>